* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    width: 100svw;
    background-image: url(../img/wood-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cyan-bg {
    background-color: rgba(62, 194, 190, 0.342);
    border-radius: 20px;
    border: 5px solid rgba(62, 194, 190, 0.650);
}

.border-white {
    border: 5px solid rgba(255, 255, 255, 0.65);
}